*{margin:0; padding:0; border:0;}
ul,li{list-style:none;}
a{text-decoration:none; color:#000;}

.menu li{
	text-align:center;
}
.menu>li{
	float:left;
}
.menu a{
	padding:10px;
	display:block;
}
.sub{
	display:none;
}
.sub a{
	padding:5px;
}