*{margin:0; padding:0; border:none;}
a{color:black; text-decoration:none;}
ul,li{list-style:none;}
.cf::after{clear:both; display:block; content:"";}
body{overflow:auto; width:100%; height:100%; background:#fafafa;}

/* header */

#header{
	width: 100%;
    min-width: 1200px;
	background:#B36BFF;
}
.header_top{
	background:#9f4ff5;
}
.top_wrap{
	width:1200px;
	height:30px;
	margin:0 auto;
}
.top_wrap ul{
	float:right;
	padding:5px;
	box-sizing: border-box;
}
.top_wrap li{
	display:inline-block;
	float:left;
	padding: 0 5px;
	margin: 0 5px;
	box-sizing: border-box;
}
.top_wrap li a{
	font-size:12px;
	opacity:.5;
	font-weight:600;
	color:#ffffff;
}
.top_wrap li a:hover{
	opacity:1;
}
.gnb_wrap{
	width: 1200px;
	height: 70px;
	margin: 0 auto;
}
.logo{
	float:left;
	padding:10px;
}
.logo a{
	color:#ffffff;
	font-weight:600;
	font-size: 1.5rem;
}
.gnb_center{
	float:left;
	padding:10px;
	margin-left:150px;
	margin-top:5px;
}
.gnb_center li{
	display:inline-block;
	padding:5px;
}
.gnb_center a{
	font-size:1.25rem;
	color:#ffffff;
	letter-spacing:2px;
	margin:0 2px;
	position:relative;
}
.gnb_center a:before{
	content:''; 
	position:absolute; 
	bottom:-3px; 
	left:0; 
	width:0; 
	height:3px; 
	background-color:#a8a814; 
	transition:width .5s;}
.gnb_center a:hover:before{
	width:100%;
	}
.gnb_right{
	float:right;
	padding:10px;
	margin-top:2px;
	position:relative;
}
.gnb_right input{
    width: 200px;
    height: 44px;
    margin-left: 5px;
    background: rgba(0,0,0,.1);
	padding:0 50px 0 20px;
	border-radius:16px;
}
.search_btn {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 17px;
    right: 20px;
    background-image: url(../img/search.svg);
    background-size: auto 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}
.search_btn img{
	width:25px;
}

/* mobile menu */

.m_menu_wrap{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
	z-index:9;
	display:none;
}
.m_menu_bg{
	position:relative;
	top:0;
	left:0;
	width:70%;
	height:100%;
	background:#ffffff;
}
.m_menu{
	display:none;
	float:left;
	padding:20px;
}
.m_menu a{
	display:block;
	width:40px;
	height:30px;
	background:url(../img/menu.png) no-repeat;
	background-size: contain;
}
.user{
	width:70%;
	height:50px;
	margin:0 auto;
	padding:30px 20px;
}
.user_pic{
	width: 50px;
    height: 50px;
    float: left;
    overflow: hidden;
    border-radius: 25px;
}
.user_pic img{
	width:50px;
}
.user_name{
	float:left;
	padding:5px 15px;
}
.user_name p{
	font-size:1.75rem;
	font-weight:600;
	letter-spacing:4px;
}
.history{
	width:90%;
	margin:0 auto;
}
.history p{
	font-size:1.25rem;
	letter-spacing:4px;
	padding: 0 20px 20px 20px;
}
.swiper-slide{
	border:1px solid #cccccc;
	border-radius:25px;
	overflow:hidden;
	box-sizing:border-box;
}
.poster{
	float:left;
	width:40%;
}
.poster img{
	width:100%;
}
.history_txt{
	width:60%;
	float:left;
	padding:3px;
	box-sizing:border-box;
	margin: 6px 0;
}
.history_txt span{
	display:block;
	padding:3px 0;
}
.m_list{
	width:80%;
	margin:0 auto;
	padding:30px 0;
	margin-top:40px;
	border-top:1px solid #cccccc;
}
.m_list li{
	padding:5px 0;
	margin:3px 10px;
}
.m_list li a{
	font-size:1.2rem;
}
.m_close{
	width:30px;
	height:30px;
	background:url(../img/btn_close.png) no-repeat;
	background-size:contain;
	position:absolute;
	top:50px;
	right:15%;
}

/* mobile nav */
	#m_nav_wrap{
		position:fixed;
		bottom:0;
		width:100%;
		height:56px;
		background:#fafafa;
		box-shadow:-3px -2px 8px #cccccc;
		z-index:99;
		overflow:hidden;
		display:none;
	}
	.m_nav li{
		width:23%;
		height:100%;
		float:left;
		margin:0 1%;
		text-align:center;
	}
	.m_nav li a{
		width:100%;
		height:100%;
		display:inline-block;
	}
	.m_nav li a img{
		width: 36%;
		display: block;
		padding: 6% 30% 2%;
	}
/* contents */

#contents{
	width:100%;
	height:100%;
	background:#fafafa;
}

/* visual */
.visual_wrap{
	width:100%;
	min-width:1200px;
	height:700px;
	position:relative;
	overflow:hidden;
	background:#000000;
}
.visual{
    float:left;
	position: absolute;
    width: 1920px;
	height:100%;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
	overflow:hidden;
}
.v_img{
	position:absolute;
	width:100%;
	height:700px;
	left:100%;
	overflow:hidden;
}
.v_01{
	left:0;
}
.v_img a{
	display:block;
}


/* btn list */
.btn_list {
	position:absolute;
	bottom:20px;
	left:50%;
    transform: translate(-50%,0);
}
.btn_list li{
	background:url(../img/btnVisual.png) 0 -16px no-repeat;
	width:14px;
	height:15px;
	float:left;
	overflow:hidden;
	margin: 0 5px;
}
.btn_list li.on{
	background-position:0 0;
}
.btn_list li a{
	display:block;
	text-indent:-9999px;
}


/* visual btn */

.visual_btn{
	position:relative;
	top:290px;
	width:100%;	
}
.visual_btn img{
	position:absolute;
	cursor:pointer;
}
.prev{
	left:30px;
}
.next{
	right:30px;
}

/* section 공통 */

.section01, .section02, .section03{
	width:100%;
	min-width:1200px;
	overflow:hidden;
	margin:50px 0;
}
.content{
	width:1200px;
	height:800px;
	margin:0 auto;
}



/* section01 */
/* main cont */

.main_tit{
	display:block;
	padding: 20px 20px 10px 20px;
	margin-top:20px;
}
.main_list li{
	width:268px;
	height:375px;
	float: left;
	overflow:hidden;
    margin: 5px 0px 20px 25px;
	position:relative;
}
.main_list img{
	width:268px;
}
.txt_wrap{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:rgba(0,0,0,.5);
	opacity:0;
}
.txt_wrap div{
	padding: 115px 25px;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    height: 100%;
}
.txt_wrap span{
	color:#ffffff;
	display:block;
	text-align:center;
	line-height:180%;
	letter-spacing:1px;
	
}
.go{
	width:100px;
	padding:5px;
	border:1px solid #ffffff;
	margin: 0 auto;
	margin-top:10px;
}
.go:hover{
	background:#ffffff;
	color:#000000;
	font-weight:600;
}
.main_list li:hover .txt_wrap{
	opacity:1;
}

/* mid banner */

.banner_wrap{
	width:100%;
	height:300px;
	background:#e0d8cd;
	margin:50px 0;
	padding-top:20px;
	position:relative;
}
.mid_bg{
	width:100%;
	height:300px;
	background:#9daec2;
	display:block;
	position:absolute;
	z-index:1;
}
.mid_banner{
	width:1200px;
	height:300px;
	position:absolute;
	z-index:2;
	bottom:0;
    left: 50%;
    transform: translate(-50%,0);
}
.mid_txt{
	position:absolute;
	top:120px;
	left:120px;
}
.mid_banner span{
	display:block;
}
.mid_tit{
	font-size:2rem;
	font-weight:600;
	color:#fafafa;
}
.mid_date{
	color:#fafafa;
	margin:10px;
}

/* section03 */
/* tab menu */
.tap_wrap{
	width:1200px;
	height:370px;
	margin:0 auto;
	margin-top: 50px;
	
}
.tab_menu li{
    float: left;
}
.tab_menu li a{
	display:inline-block;
    width: 240px;
    height: 40px;
    text-align: center;
    padding-top: 8px;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 600;
}
#tab_content{
	height:330px;
	width:1200px;
	padding-top:40px;
}
#tab_content > div{
	display:none;
}
.tab_menu li a.active{
	background: #fafafa;
    color: #000000;
    opacity: 1;
    border-bottom: 3px solid gold;
}
.tab_box{
	height:330px;
}
.tab_box li{
	width: 200px;
    height: 240px;
    background: rgba(255,255,255,.4);
    float: left;
    margin: 30px 20px;
}
.tab_img{
	width:200px;
	height:180px;
	background:beige;
}
.tab_txt strong{
	margin:5px 0;
	display:inline-block;
}
.tab_txt span{
	display:block;
	font-size:12px;
	color:#999999;
}

/* footer */
#footer{
	width:100%;
	min-width:1200px;
	border-top:1px solid #dddddd;
	margin-top: 30px;
	padding:30px 0;
	background:#9f4ff5;
}
.footer_wrap{
	width:1200px;
	height:120px;
	margin:0 auto;
}
.footer_list{
	float:left;
}
.footer_list li{
	float:left;
	background:url(../img/bg_gray_line.png) no-repeat left 6px;
    padding: 0 13px 4px 13px;
}
.footer_list li:first-child{
	background:none;
}
.footer_list li a{
	font-weight:600;
	color:#ffffff;
	opacity:.4;
	transition:.2s all;
}
.footer_list li a:hover{
	opacity:1;
	transition:.2s all;
}
.footer_sns{
	float:right;
}
.footer_sns li{
	float:left;
	margin: 0 5px;
	padding: 0 2px;
}
.footer_sns li a{
	width:30px;
	height:30px;
	display:block;
	text-indent:-99999px;
}
.address{
	margin-top:10px;
}
.address p{
	line-height:150%;
}
.address p span{	
	background:url(../img/bg_gray_line.png) no-repeat left 6px;
    padding: 0 13px 4px 13px;
	color:#000000;
	font-weight:600;
	opacity:.8;
}
.address p span.f_first{
	background:none;
}
.address p strong{
	font-size:2rem;
	color:#ffffff;
	float:left;
	width:100px;
	height:50px;
	display:block;
	margin:10px 20px
}

/* mobile */
@media screen and (max-width: 720px){
	/* 모바일헤더 */
	#header{
		min-width:375px;
	}
	.top_wrap, .gnb_center, .gnb_right, .section03{
		display:none;
	}
	.gnb_wrap{
		width:100%;
	}
	.logo{
		float:right;
	}
	.m_menu, #m_nav_wrap{
		display:block;
	}
	
	/* 모바일 contant */
	
	.visual_wrap {
		min-width: 375px;
		height: 155px;
		border-radius: 50px;
		margin: 10px;
		/* box-sizing: border-box; */
		width: 90%;
		margin: 0 auto;
		margin-top: 30px;
	}
	.visual_btn{
		display:none;
	}
	.section01, .section02{
		min-width:375px;
		margin:0;
	}
	.content{
		width:375px;
		height:100%;
	}
	.main_list{
		width:90%;
		margin:0 auto;
	}
	.main_list li{
		width:27%;
		height:50%;
		margin:10px;
	}
	.main_list img{
		width:100%;
	}
	.main_list li:nth-child(7), .main_list li:nth-child(8){
		display:none;
	}
	.banner_wrap{
		display:none;
	}
	
	
	/* mobile footer */
	#footer{
		min-width:375px;
		padding:30px 0 86px 0;
	}
	
	.footer_wrap{
		width:100%;
		min-width:375px;
		height:100%;
		padding-top:40px;
	}
	.footer_list li{
		padding:0 6px;
	}
	.footer_list_wrap{
		position:relative;
	}
	.footer_sns{
		position:absolute;
		top:-35px;
		right:0;
	}
	.address{
		position:relative;
	}
	.address p strong{
		position:absolute;
		top:-80px;
	}
	.address p span{
		display:block;
		text-align:center;
	}
}